@model IQueryable<Article>

<div class="container-fluid">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-action="Preview" asp-route-id="@item.ArticleId">@item.Title</a>
            </li>
        }
    </ul>
</div>