
@{
    ViewData["Title"] = "Index";
}

<h2>Cheat Sheets</h2>

<ul>
    <li>
        <a asp-area="HTML" asp-controller="Home" asp-action="Index">HTML</a>
    </li>
    <li>
        <a asp-area="MVC6" asp-controller="Home" asp-action="Index">MVC6</a>
    </li>
</ul>
