$example: darkseagreen;
$example-row: coral;
$example-col: cornflowerblue;

body {
    padding-top:70px;
}


.breadcrumb {
    background-color: lightcyan
}

%example-shared {
    border:solid;
    min-height: 5ex;
    border-radius: 1ex;
}

.font-example {
    color: $example
}

.font-example-row {
    color: $example-row
}

.font-example-col {
    color: $example-col
}

.example {
    @extend %example-shared;
    border-color:$example;
}
.example-row {
    @extend %example-shared;
    border-color: $example-row;
}

.example-col {
    @extend %example-shared;
    border-color: $example-col;
}
