
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Portfolio/obj
/Portfolio/bin
/Portfolio.Test/obj
/Portfolio.Test/bin