@model Portfolio.Areas.Articles.Data.SectionBuilder
@using Newtonsoft.Json
@{
    ViewData["Title"] = "SectionBuilder";
    var json = JsonConvert.SerializeObject(Model);
}
<head>
    <script type="text/javascript" src="~/js/content.js">
    </script>
</head>

<div class="btn-group">
    <input type="submit" value="text" class="btn btn-outline-primary" onclick="add(@json)" />
    <input type="submit" class="btn btn-outline-primary" />
    <input type="submit" class="btn btn-outline-primary" />
    <input type="submit" class="btn btn-outline-primary" />
</div>
