@model Portfolio.Areas.Articles.Data.SectionBuilder;
@using Newtonsoft.Json;
@{

    ViewData["Title"] = "SectionBuilder";
    var json = JsonConvert.SerializeObject(Model).ToString();

}
@await Html.PartialAsync("Content")
<body>
    <h2>@Model.Title</h2>
    <div class="breadcrumb" id="container">
        <script data-main="/js/config" src="~/lib/require.js"></script>
        <script>
            var builder;
            var init;
            var draw;
            var create;
            require(['config', 'pagebuilder'], function (config, pb) {
                init = pb.init;
                draw = function () {
                    pb.draw();
                    // todo make async
                    $('pre, code').each(function (i, block) {
                        hljs.highlightBlock(block);
                    });
                }
                create = function (type) {
                    pb.create(type);
                    pb.draw();
                }
            })
        </script>
    </div>
    <div class="btn-group rounded">
        <button class="btn btn-primary " onclick="create('text')"><i class="fa fa-align-left"></i></button>
        <button class="btn btn-primary" onclick="create('code')"><i class="fa fa-code"></i></button>
        <button class="btn btn-primary" onclick="create('sample')"><i class="fa fa-eye"></i></button>
        <button class="btn btn-primary" onclick="create('img')"><i class="fa fa-image"></i></button>
    </div>
    <div class="btn-group rounded">
        <button class="btn btn-primary" id="init" onclick="init(@json);">init</button>
        <button class="btn btn-primary" id="draw" onclick="draw();">redraw</button>
        <button class="btn btn-primary" onclick=""><i class="fa fa-save"></i></button>
    </div>
</body>
