@model Portfolio.Areas.Articles.Data.SectionBuilder;
@using Newtonsoft.Json;
@{

    ViewData["Title"] = "SectionBuilder";
    var json = JsonConvert.SerializeObject(Model).ToString();

}
<body>
    <h2>@Model.Title</h2>
    <form asp-action="Index">
        <input type="hidden" asp-for="Content" />
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <input type="submit" value="Save" class="btn btn-default" />
    </form>
    <div id="container">
        <button class="btn" id="draw" onclick="draw(@json)">
            click
        </button>
        <script data-main="/js/config" src="~/lib/require.js"></script>
        <script>
            var draw;
            require(['config', 'sectionbuilder'], function (config, sb) {
                    draw = function (json) {
                        var builder = sb.SectionBuilder.fromJS(json);
                        alert('succeed :' + json);
                    }
            })
        </script>
    </div>
</body>
