@model Portfolio.Areas.Articles.Data.SectionBuilder
@using Newtonsoft.Json
@using Portfolio.Areas.Articles.Models
@{
    ViewData["Title"] = "SectionBuilder";
    var json = JsonConvert.SerializeObject(Model);
}
<script type="text/javascript">

</script>

<h2>@Model.Title</h2>
<form asp-action="Index">
    <input type="hidden" asp-for="Content" />
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <input type="submit" value="Save" class="btn btn-default" />
</form>

@{await Html.RenderPartialAsync("Content", Model);}


