
@{
    ViewData["Title"] = "Bootstrap";
}

<h2>Bootstrap</h2>

<h3>Installation</h3>
This guid follows <a href="https://stackoverflow.com/questions/48481003/how-to-use-bootstrap-4-in-asp-net-core">this guide</a> from stack overflow and targets ASP.NET projects.
As for now when a new project is created bootstrap v3.3.7 is allready referenced in the _Layout.cshtml, but can be replaced with a newer version and a more sophisticated way is described in the article mention above.
In order to install Bootstrap we need to <a href="https://getbootstrap.com/docs/4.0/getting-started/download/">download the compiled files</a>.
We also need jQuery for which we need a <a href="https://jquery.com/download/">single file from the download site</a>. These files then need to be referenced from the project in the _Layout.cshtml.


<h3>Containers</h3>
<h4>Container</h4>
<div class="breadcrumb">
    <p>
        The container tag makes it responsive, but it always has a fixed width.
    </p>
    <code class="breadcrumb" style="background-color:#b5b5b5">
        &lt;div class="container"&gt;
        ...
        &lt;/div&gt;
    </code>
</div>

<div class="breadcrumb">
    <p>
        The container tag makes it responsive, but it always has a fixed width.
    </p>
    <code class="breadcrumb" style="background-color:#b5b5b5">
        &lt;div class="container"&gt;
        ...
        &lt;/div&gt;
    </code>
</div>