@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    This is a small project i built to get familiar with Web development and add a platform where i can store my documentations.
    Also it allows me to easily access them on multiple devices.
    The articles are stored in a Database and some features are only enabled for me!
    Feel free to look at the code on <a href="https://github.com/sulai1/Portfolio">Github</a>;
</p>
