@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Sascha Wernegger<br />
    Salzburg - Austria
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:Sascha.Wernegger@gmx.at">Sascha.Wernegger@gmx.at</a><br />
</address>
