@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <ul>
        <li><a asp-area="Articles" asp-controller="Articles" asp-action="All">Browse Cheatsheets</a></li>
        <li><a asp-area="Articles" asp-controller="Articles" asp-action="Categories">Browse Categories</a></li>
        <li><a asp-area="Games" asp-controller="PictureShift" asp-action="Index">Games</a></li>
        <li><a asp-area="Articles" asp-controller="Sections" asp-action="Edit">Test Page</a></li>
    </ul>
</div>