@using Portfolio.Areas.Articles.Models

<template class="content-control">
    <div class="col-3 d-flex align-items-end">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary up"><span class="fa fa-angle-up" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-outline-primary down"><span class="fa fa-angle-down" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-outline-primary edit-btn"><span class="fa fa-edit" aria-hidden="true"></span></button>
        </div>
    </div>
</template>

<template class="@nameof(TextContent)">
    <div class="row">
        <div class="col-9">
            <p class="conent">
                text goes here
            </p>
            <div class="edit">
                <textarea class="form-control text-edit"></textarea>
                <button class="btn-primary save-btn"><span class="fa fa-save" aria-hidden="true"></span></button>
            </div>
            <hr />
        </div>
    </div>
</template>

<template class="@nameof(CodeContent)">
    <div class="row">
        <div class="col">
            <pre class="pre-scrollable"><code></code></pre>
            <div class="edit">
                <textarea class="form-control text-edit"></textarea>
                <select class="form-control type-edit">
                    <option value="html">HTML</option>
                </select>
                <button class="btn-primary save-btn"><span class="fa fa-save" aria-hidden="true"></span></button>
            </div>
            <hr />
        </div>
    </div>
</template>

<template class="@nameof(ExampleContent)" id="sample">
    <div class="row">
        <div class="col">
            <div class="sample"></div>
            <div class="edit">
                <textarea class="form-control text-edit"></textarea>
                <button class="btn-primary save-btn"><span class="fa fa-save" aria-hidden="true"></span></button>
            </div>
            <hr />
        </div>
    </div>
</template>

<template class="@nameof(ImageContent)" id="img">
    <div class="row">
        <div class="col">
            ​<picture>
                <img src="..." class="img-fluid img-thumbnail" alt="...">
            </picture>
            <div class="edit">
                <input class="form-control alt-edit" type="text" />
                <input class="form-control src-edit" type="file" accept="image/*" />
                <button class="btn-primary save-btn"><span class="fa fa-save" aria-hidden="true"></span></button>
            </div>
            <hr />
        </div>
    </div>
</template>