@model Portfolio.Areas.Articles.Models.Article
@using Portfolio.Areas.Articles.Data
@{
    ViewData["Title"] = "Edit";
    ViewData["ArticleId"] = Model.ArticleId;
}

<h2>Edit Article</h2>

<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArticleId" />
            <input type="hidden" asp-for="OwnerId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublic" class="control-label"></label>
                <input asp-for="IsPublic" class="form-check" />
                <span asp-validation-for="IsPublic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <hr />
        <h2>Sections</h2>
        @await Html.PartialAsync("../Sections/Index",Model)
    </div>
</div>

<div class="row">
    <a class="col-12" asp-action="Index">Back to List</a>
</div>

