@model Portfolio.Areas.Articles.Data.SectionBuilder;
@using Portfolio.Areas.Articles.Data;
@{

    ViewData["Title"] = Model.Title;
    var json = Html.Raw(Model.Serialize());
    var back = @TempData["Back"];

}
@await Html.PartialAsync("Content")
<body>
    <h2>@Model.Title</h2>
    <div class="breadcrumb" id="container">
        <script data-main="/js/config" src="~/lib/require.js"></script>
        <script>
            var draw;
            var create;
            require(['config', 'pagebuilder'], function (config, pb) {
                draw = function () {
                    pb.draw();
                    // todo make async
                    $('pre, code').each(function (i, block) {
                        hljs.highlightBlock(block);
                    });
                }
                create = function (type) {
                    pb.create(type);
                    draw();
                }
                pb.init(@json,false);
                draw();
                save = function () {
                    pb.save();
                }
            })
        </script>
    </div>
    @if (back != null)
    {
        <a href="@back"><i class="fas fa-long-arrow-alt-left"></i>back</a>
    }
</body>
