@model IEnumerable<(string, string)>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sidenav" >
    <div class="container bg-light">
        <h4>Overview</h4>
        <ul>
            @foreach (var (name, link) in Model)
            {
                <li><a href=@link>@name</a></li>
            }
        </ul>
    </div>
</div>